<%= erb :'template/header' %>
  -- User --<br>
  <a href="user/signup">Signup</a><br>
  <a href="user/login">Login</a><br>
  <a href="user/logout">Logout</a><br>
  <a href="user/lost_password">Lost password</a>
<%= erb :'template/footer' %>